{
  "openapi": "3.0.0",
  "info": {
    "title": "Agentic API",
    "version": "1.0.0",
    "description": "REST API documentation for autonomous agent interactions"
  },
  "servers": [
    {
      "url": "https://agentics.org/api",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/auth": {
      "post": {
        "summary": "Authenticate agent",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentId": {
                    "type": "string"
                  },
                  "credentials": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/brain": {
      "post": {
        "summary": "Neural interface operations",
        "tags": ["Brain"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful"
          }
        }
      }
    },
    "/chat": {
      "post": {
        "summary": "Real-time communication",
        "tags": ["Communication"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Message sent"
          }
        }
      }
    },
    "/speak": {
      "post": {
        "summary": "Voice interaction",
        "tags": ["Communication"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Voice command processed"
          }
        }
      }
    }
  }
}